<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>

    <h2>Company Home Page</h2>
    <hr>
    <h4>Welcome to the company home page!</h4>
    <p>
        User: <span sec:authentication="principal.username"></span>
        Roles: <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <p><a th:href="@{/leaders}">Leadership Meeting</a> - only for managers</p>
    <p><a th:href="@{/systems}">Admin Portal</a> - only for admins</p>
    <form action="#" th:action="@{/logout}" method="post">
        <div th:if="${param.logout}">
            <li>You have been logged out!</li>
        </div>
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>